<div class="results">
  {{#each searchResult}}
    <span class="artists">
      <img src="{{images.[0].url}}" alt="{{name}}">
          <h4>{{name}}</h4>
          <a href="/albums/{{id}}">View Albums</a>
    </span>
  {{/each}}
</div>
